.card {
  display: block;
  position: relative;
  width: 100px;
  height: 120px;
  font-size: 12px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;

  &.black {
    background-color: #111;
    color: #fff;
    box-shadow: #bbbbbb73 0px 3px 5px 0px;
    border: solid 1px #222;
  }
  &.white {
    background-color: #eee;
    color: #000;
    box-shadow: #bbbbbb73 0px 3px 5px 0px;
    border: solid 1px #ddd;
  }
}

.card-scroller {
  display: flex;
  flex-direction: row;
}
